<div class="tab-component mt-4" id="title-target">
    <button id="switch-grouping" class="btn btn-outline-secondary float-end">
        Switch Grouping
    </button>
    <label for="show-tests" class="form-check-label p-1 float-end me-2">
        <input id="show-tests" type="checkbox" class="form-check-input" />
        Show Test files
    </label>
    <h4 id="title" class="ms-3"></h4>

    <div class="container">
        <div class="row align-items-start">
            <div class="col-lg-5">
                <div
                    class="shadow-lg p-3 bg-body-tertiary rounded border"
                    id="contents"
                ></div>
                <div id="readme" class="mt-5"></div>
            </div>
            <div class="col-lg-7" id="files">
                <ul class="nav nav-tabs" id="files-tabs" role="tablist"></ul>
                <div class="tab-content" id="files-contents"></div>
            </div>
        </div>
    </div>
</div>
