<div>
    <button id="add-to-string">Add to string</button>
    <button id="add-component">Add dynamic component</button><br><br>
    <strong>Bound String</strong>
    <div>
        A <code>@BindValue</code> string variable:
        <span id="bound-string"></span>
    </div><br>
    <strong>Dynamic Component</strong>
    <div>
        Actual Dynamically added components:
        <span id="new-component-region"></span>
    </div><br>
    <strong class="alert alert-info">Read the explanation below for more detail!</strong>
</div>