<div
    class="tab-pane accordion"
    id="tab-pane"
    role="tabpanel"
    aria-labelledby="home-tab"
    tabindex="0"
>
    <div class="accordion-item">
        <h2 class="accordion-header" id="accordion-header">
            <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseOne"
                aria-expanded="true"
                aria-controls="collapsible-area"
                id="filename"
            ></button>
        </h2>
        <div id="collapsible-area" class="accordion-collapse collapse">
            <div class="accordion-body">
                <pre id="contents" class="code"></pre>
            </div>
        </div>
    </div>
</div>
